@import './helpers';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #75808D;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #A7D165;
  text-decoration: none;
}
.d-n{
  display: none;
}